@inherits LayoutComponentBase

<style>
    #logo-container {
        width: 100%;
        display: flex;
        flex-flow: wrap row;
        justify-content: center;
    }
    #logo-container img {
        width: 25%;
    }
    .top-row {
        height: 140px !important;
    }
</style>

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4">
            <div id="logo-container">
                <img src="./Rick-And-Morty-Logo.png" />
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

